<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>972602554779-p9frq7im8os9ppd30s5sfjouiv8efc0h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.972602554779-p9frq7im8os9ppd30s5sfjouiv8efc0h</string>
	<key>API_KEY</key>
	<string>AIzaSyB7TgzgwmQFycOuMvKyGTzdonFcNLFGycM</string>
	<key>GCM_SENDER_ID</key>
	<string>972602554779</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>alonlubinski.TradeMe</string>
	<key>PROJECT_ID</key>
	<string>trademe-46a74</string>
	<key>STORAGE_BUCKET</key>
	<string>trademe-46a74.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:972602554779:ios:89a4d6ddf1eab0f86c893e</string>
</dict>
</plist>